<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>
    <body>
        <div class="b-root">
            <!-- header -->
            <div class="b-header">
                <div class="inner">
                    <a href="#" class="login-btn btn"></a>
                    <a href="#" class="registati-btn btn"></a>
                </div>
                <div class="clear"></div>
                <div class="b-logo-image">
                    <a href="#"><img src="images/Logone.png" alt="" title="" /></a>
                </div>
            </div>
            <!-- .header -->
            <!-- content -->
            <div class="b-content">
                <div class="inner">
                    <div class="b-search">
                        <form action="" method="post" id="gallery-search"> 
                            <div>
                                <table class="search-panel" align="center">
                                    <tr>
                                        <th>Type</th>
                                        <td>
                                            <select name="search[type]" id="circuit-type"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>
                                            <select name="search[country]" id="circuit-country"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Circuit</th>
                                        <td>
                                            <select name="search[circuit]" id="circuit"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Race Day</th>
                                        <td>
                                            <input type="text" name="search[raceDay]" value="" id="raceDay" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Race Time</th>
                                        <td>
                                            <input type="text" name="search[raceTimeFrom]" value="" id="raceTimeFrom" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Race Time</th>
                                        <td>
                                            <input type="text" name="search[raceTimeTo]" value="" id="raceTimeTo" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Licence</th>
                                        <td>
                                            <input type="text" name="search[licence]" value="" id="licence" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Car Number</th>
                                        <td>
                                            <input type="text" name="search[car_number]" value="" id="car_number" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Pilot</th>
                                        <td>
                                            <input type="text" name="search[car_pilot]" value="" id="car_pilot" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Brand</th>
                                        <td>
                                            <input type="text" name="search[car_brand]" value="" id="car_brand" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Rate</th>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center" class="without-bottom-border">
                                            <input type="submit" name="search-btn" value="Search" id="search" />
                                            <input type="reset"  name="search-btn" value="Reset" id="reset"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="b-random-image">
                        <img src="images/car.jpg" alt="" title="" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- .content -->
            <div class="white-delimiter"></div>
            <!-- footer -->
            <div class="b-footer">
                <a href="#">chi&nbsp;siamo</a>&nbsp;&nbsp;&nbsp;<a href="#">istruzioni</a>&nbsp;&nbsp;&nbsp;<a href="#">contatti</a>&nbsp;&nbsp;&nbsp;<a href="#">faq</a>
                <br />
                <br />
                <span>Indicare chiaramente che il sito è in beta dicitura bla bla dwgfciqwd dwviuq rf.</span>
            </div>   
            <!-- .footer -->
            
        </div>  
    </body>
</html>
